<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title><%= title %></title>
        <meta name="description" content="<%= description %>">
        <meta name="author" content="Waldson Moura">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/core.css" />
    </head>
    <body>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                        <h3 class="masthead-brand">Conecte</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link active" href="#">Início</a>
                            <a class="nav-link" href="#">Sobre</a>
                            <a class="nav-link" href="#">Contato</a>
                        </nav>
                        </div>
                    </div>
